<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesan Tempat Titip</title>
</head>
<h4>
    <h2>Data Pet</h2>
    <button><a href="pet/daftar">Tambah Pet</a></button>
    <br><br>
        <table border="1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Email Pemilik</th>
                        <th>Nama Hewan</th>
                        <th>Spesies</th>
                        <th>Umur</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% if(data.length){ var no = 0 ; for(var i = 0 ; i < data.length ; i++){no++;%> 
                        <tr>
                            <td><%= no %></td>
                            <td><%= data[i].email_user %></td>
                            <td><%= data[i].name_pet %></td>
                            <td><%= data[i].species_pet %></td>
                            <td><%= data[i].age_pet %></td>
                            <td>
                                <a href="pet/update/<%= data[i].id_pet%>" class="btn btn-secondary btn-sm">Update</a>
                                <a href="pet/delete/<%= data[i].id_pet%>" class="btn btn-secondary btn-sm">Delete</a>
                            </td>
                        </tr>
                    <% }} %> 
                </tbody>
            </table>
</h4>
<body>
</body>
</html>