<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesan Tempat Titip</title>
</head>
<h4>
    <h2>Data Petugas</h2>
    <button><a href="petugas/daftar">Tambah Petugas</a></button>
    <br><br>
        <table border="1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>email</th>
                        <th>Telepon</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% if(dataPetugas.length){ var no = 0 ; for(var i = 0 ; i < dataPetugas.length ; i++){no++;%> 
                        <tr>
                            <td><%= no %></td>
                            <td><%= dataPetugas[i].nama_petugas %></td>
                            <td><%= dataPetugas[i].email_petugas %></td>
                            <td><%= dataPetugas[i].no_petugas %></td>
                            <td>
                                <a href="petugas/update/<%= dataPetugas[i].id_petugas%>" class="btn btn-secondary btn-sm">Update</a>
                                <a href="petugas/delete/<%= dataPetugas[i].id_petugas%>" class="btn btn-secondary btn-sm">Delete</a>
                            </td>
                        </tr>
                    <% }} %> 
                </tbody>
            </table>
</h4>
<body>
</body>
</html>